<template name="subject_item">
  <div class='content'>
    {{#with subject}}
      <div class="row">
        <div class="col s12">
          <ul class="tabs subjectTabs">
            {{> tabHeader class='' href="#examenes" l_label="examenes" s_label="mdi-content-content-paste"}}
            {{> tabHeader href="#notificaciones" l_label="notificaciones" s_label="mdi-action-announcement"}}
            {{> tabHeader href="#archivos" l_label="Archivos" s_label="mdi-file-file-download"}}
          </ul>
        </div>
        <div id="examenes" class="col s12">
          <div class="collection" style="margin-left: 1rem;margin-right: 1rem;">
            {{#each exams _id}}
            <a href="{{currentPath}}/examenes/{{spacesForUnderscores title}}" class="collection-item push-right navigate-right">
                <i class="mdi-content-content-paste"></i>
                <span>{{title}}</span>
                {{#unless adminAllowed}}
                  {{#if scoreFor _id}}
                    <span class="new badge {{scoreColor _id}}">{{scoreFor _id}}</span>
                  {{else}}
                    <span class="new badge">{{formatDate date}}</span>
                  {{/if}}
                {{else}}
                  <span class="new badge">{{formatDate date}}</span>
                {{/unless}}
                <div class='icon icon-right-nav right'></div>
              </a>
            {{/each}}
          </div>
        </div>
        <div id="notificaciones" class="col s12">Notificaciones</div>
        <div id="archivos" class="col s12">
          <div class='row'>
            {{#if adminAllowed}}
              <div class='col s12 m6'>
                {{> file_upload}}
              </div>
            {{/if}}
            <div {{addColumnSize adminAllowed}}>
              <ul class="collection">
                {{#each resources _id}}
                  <li class='collection-item teal'>
                    <a href="{{url}}" download="{{name}}" class="btn waves-effect waves-light"> {{name}}
                      <i class="mdi-file-file-download"></i>
                    </a>
                    <span class='white-text'> Subido: {{formatDate createdAt}} </span>
                    <a href="#!" class="secondary-content deleteResource" id='{{_id}}'><i class="small mdi-action-delete" style='color:white'></i></a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {{/with}}
  </div>
</template>

