.student-detail-panel span {
  text-decoration: underline;
}

.student-detail-panel p {
  color: white;
  padding: 0;
}

.collection-item {
  padding-top: 21px !important
}

.collection-item span {
  vertical-align: super
}

.collection-item i {
  vertical-align: super
}

.collection-item .icon-right-nav {
  vertical-align: super
}

.meteor-status {
  z-index: 9999
}

.hide {
  display: none;
}

span.badge.new {
  font-weight: inherit !important;
  font-size: inherit !important;
}

span.badge.new:after {
  content: "" !important;
}

span.badge {
  right: 4rem !important;
}

.btn-floating.navigate-right:after, .btn-floating.push-right:after {
  content: "" !important;
}

