body {
  /* transitions plugin changes the font */
  font-family: "Roboto", sans-serif;
}

.student-detail-panel span {
  text-decoration: underline;
}

.student-detail-panel p {
  color: white;
  padding: 0;
}

.collection-item {
  padding-top: 21px !important
}

.collection-item span {
  vertical-align: super
}

.collection-item i {
  vertical-align: super
}

.collection-item .icon-right-nav {
  vertical-align: super
}
