<template name='score_card'>
  <div class="container">
    {{#if isDirective}}
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="waves-effect waves-circle waves-light btn-floating btn-large red" id='update-score-card'>
          <i class="mdi-action-done-all"></i>
        </a>
      </div>
    {{/if}}
    <table class="table bordered striped score-card-table" id='{{score_card._id}}'>
      <thead>
        <tr>
          <th></th>
          {{#each periods}}
          <th>{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each score_card.subjects}}
          <tr>
            <th class="text-nowrap" scope="row">{{name}}</th>
            {{#each periods_scores}}
              <td {{contentEditableForDirectives}} id='{{_id}}' class='score-cell'>{{score}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

