<template name='exam_scores'>
  <div class="content brown lighten-1 white-text">
    <div class="progress scores-progress" style='display:none'>
      <div class="indeterminate"></div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="waves-effect waves-circle waves-light btn-floating btn-large red" id='save_scores'>
        <i class="mdi-action-done-all"></i>
      </a>
    </div>
    <h4 class='flow-text'>{{exam.title}}</h4>
    <div class='container'> 
      {{#each students}}
        <div class='row'>
          <div class='col s6'>{{profile.firstName}} {{profile.lastName}}</div>
          <div class='col s6'>
            <input type='number' class='score' value={{examScore}} id='{{_id}}'>
          </div>
        </div>
      {{/each}}
      <div class="progress scores-progress" style='display:none'>
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</template>
