<template name='student_modal'>
  {{#with student}}
    <div id="student_modal{{_id}}" class="modal">
      <div class="modal-content teal lighten-2 white-text">
        <h4 class='flow-text'>{{profile.firstName}} {{profile.lastName}}</h4>
        <div class='container'>
          <div class='row'>
            <div class='col s6'>Email</div>
            <div class='col s6'>{{email.address}}</div>
          </div>
          <div class='row'>
            <div class='col s6'>DNI</div>
            <div class='col s6'>{{profile.document_id}}</div>
          </div>
          <div class='row'>
            <div class='col s6'>Nacimiento</div>
            <div class='col s6'>{{formatDate profilebirthday}}</div>
          </div>
          <div class='row'>
            <div class='col s6'>Telefono</div>
            <div class='col s6'>{{profile.phoneNumber}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cerrar</a>
      </div>
    </div>
  {{/with}}
</template>

