<template name='attendances_collection'>
  <ul class="collection with-header">
    <li class="collection-header"><h4><input type="date" class="datepicker"></h4></li>
    {{#each students}}
      <li class="collection-item">
        <div class='container'>
          <div class='row'>
            <div class='col l6 s4'>
              {{profile.lastName}}, {{profile.firstName}}
            </div>
            <div class='col l3 s4'>
              <input type="checkbox" id="{{_id}}" class='half-attendance'/>
              <label for="{{_id}}">
                <div class='hide-on-small-only'>Media Falta</div>
                <div class='hide-on-med-and-up'>1/2</div>
              </label>
            </div>
            <div class="col l3 s4 switch">
              <label>
                Ausente
                <input type="checkbox">
                <span class="lever"></span>
                Presente
              </label>
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</template>
