<template name='attendances_collection'>
  <div class="progress attendance-progress" style='display:none'>
      <div class="indeterminate"></div>
  </div>
  <ul class="collection with-header">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="waves-effect waves-circle waves-light btn-floating btn-large red" id='save-attendances'>
        <i class="mdi-action-done-all"></i>
      </a>
    </div>
    {{#each students}}
      {{> attendance_item student=this}}
    {{/each}}
  </ul>
</template>

