<template name='students_accordion'>
  <ul class="collapsible students-accordion" data-collapsible="expandable">
    {{#each courseStudents}}
      <li>
        <div class="collapsible-header"><i class="mdi-action-account-box"></i>{{profile.lastName}}, {{profile.firstName}}</div>
        <div class="collapsible-body">
          <div class='container'>
            <div class='row'>
              <div class='col s12 m3'>
                <div class='card-panel teal white-text student-detail-panel'>
                  <div class='row'>
                    <span>Email: </span>
                    <p>{{email.address}}</p>
                  </div>
                  <div class='row'>
                    <span>DNI: </span>
                    <p>{{profile.document_id}}</p>
                  </div>
                  <div class='row'>
                    <span>Nacimiento: </span>
                    <p>{{formatDate profilebirthday}}</p>
                  </div>
                  <div class='row'>
                    <span>Telefono: </span>
                      <p>{{profile.phoneNumber}}</p>
                  </div>
                </div>
              </div>
              <div class='col s12 m9'>
                <!-- {{> score_card student_id=_id}} -->
              </div>
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</template>
